.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 1px solid orange;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f0dd;
}
h2.colorChange {
color: #114e96;
}
thead {
color: orange;
font-weight: bold;
font-size: 30px;
}
@media screen and (max-width: 600px) {
table {width:100%;}
thead {display: none;}
tr:nth-of-type(2n) {background-color: inherit;}
tr td:first-child {color: #FFF; background-color: orange; font-weight:bold; font-size:1.3em;}
tbody td {display: block;  text-align:center;}
tbody td:before { 
	content: attr(data-th); 
    display: block;
    font-weight: bold;
    text-align:center; 
    text-decoration: underline; 
	}
	.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #FFF;
	}
}